In [3]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df=pd.read_csv('transfusion.csv')
df

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),Blood Donor
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0
...,...,...,...,...,...
743,23,2,500,38,0
744,21,2,500,52,0
745,23,3,750,62,0
746,39,1,250,39,0
747,72,1,250,72,0

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Recency (months)       748 non-null    int64
 1   Frequency (times)      748 non-null    int64
 2   Monetary (c.c. blood)  748 non-null    int64
 3   Time (months)          748 non-null    int64
 4   Blood Donor            748 non-null    int64
dtypes: int64(5)
memory usage: 29.3 KB

In [6]:
df.describe()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),Blood Donor
count,748.000000,748.000000,748.000000,748.000000,748.000000
mean,9.506684,5.514706,1378.676471,34.282086,0.237968
std,8.095396,5.839307,1459.826781,24.376714,0.426124
min,0.000000,1.000000,250.000000,2.000000,0.000000
25%,2.750000,2.000000,500.000000,16.000000,0.000000
50%,7.000000,4.000000,1000.000000,28.000000,0.000000
75%,14.000000,7.000000,1750.000000,50.000000,0.000000
max,74.000000,50.000000,12500.000000,98.000000,1.000000

In [7]:
df.isnull().sum()

Recency (months)         0
Frequency (times)        0
Monetary (c.c. blood)    0
Time (months)            0
Blood Donor              0
dtype: int64

In [8]:
df['Blood Donor'].value_counts()

0    570
1    178
Name: Blood Donor, dtype: int64

In [9]:
x=df.drop(columns=['Blood Donor',], axis=1)
y=df['Blood Donor']

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=10)

In [11]:
model = LogisticRegression()
model.fit(x_train,y_train)

LogisticRegression()

In [12]:
prediction = model.predict(x_test)

accuracy_score(prediction,y_test)

0.8066666666666666

In [13]:
#DECISION TREE CLASSIFIER

from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import StandardScaler

In [14]:
df.shape

(748, 5)

In [15]:
df

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),Blood Donor
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0
...,...,...,...,...,...
743,23,2,500,38,0
744,21,2,500,52,0
745,23,3,750,62,0
746,39,1,250,39,0
747,72,1,250,72,0

In [16]:
df['Blood Donor'].value_counts()

0    570
1    178
Name: Blood Donor, dtype: int64

In [17]:
x=df.drop(columns=['Blood Donor',], axis=1)
y=df['Blood Donor']
x

     Recency (months)  Frequency (times)  Monetary (c.c. blood)  Time (months)
0                   2                 50                  12500             98
1                   0                 13                   3250             28
2                   1                 16                   4000             35
3                   2                 20                   5000             45
4                   1                 24                   6000             77
..                ...                ...                    ...            ...
743                23                  2                    500             38
744                21                  2                    500             52
745                23                  3                    750             62
746                39                  1                    250             39
747                72                  1                    250             72

[748 rows x 4 columns]

In [18]:
y

0      1
1      1
2      1
3      1
4      0
      ..
743    0
744    0
745    0
746    0
747    0
Name: Blood Donor, Length: 748, dtype: int64

In [19]:
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size=0.8,random_state=5)

print("Shape of x_train:", x_train.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of x_test:", x_test.shape)
print("Shape of y_test:", y_test.shape)

Shape of x_train: (598, 4)
Shape of y_train: (598,)
Shape of x_test: (150, 4)
Shape of y_test: (150,)

In [20]:
classify_gini = DecisionTreeClassifier(criterion='gini')

In [21]:
classify_gini.fit(x_train,y_train)

DecisionTreeClassifier()

In [22]:
classify_gini.score(x_test,y_test)

0.76

In [23]:
classify_entropy = DecisionTreeClassifier(criterion='entropy')

In [24]:
classify_entropy.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [25]:
classify_entropy.score(x_test,y_test)

0.7266666666666667

In [26]:
import joblib
joblib.dump(model, 'Blood_Transfusion_21051629.joblib')

['Blood_Transfusion_21051629.joblib']

In [27]:
load_model = joblib.load('Blood_Transfusion_21051629.joblib')

In [28]:
input_data = (23,50,10000,50)



#change the input data to a numpy array
input_as_numpy = np.asarray(input_data)

#reshape the numpy array as we are predicting for only one instance
input_reshaped = input_as_numpy.reshape(1,-1)


prediction = model.predict(input_reshaped)
print(prediction)

if(prediction==0):
    print("The person is not a blood donor")
else:
    print("The person is a blood donor")

[1]
The person is a blood donor

C:\Users\anirb\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [29]:
sc=StandardScaler()
sc.fit(x_train)

StandardScaler()

In [30]:
x_train_sc=sc.transform(x_train)
x_test_sc=sc.transform(x_test)
#y_train_sc=sc.transform(y_train)
#y_test_sc=sc.transform(y_test)

In [31]:
classify_gini_sc = DecisionTreeClassifier(criterion='gini')
classify_gini_sc.fit(x_train,y_train)
classify_gini_sc.score(x_test,y_test)

0.7533333333333333

In [32]:
classify_entropy_sc = DecisionTreeClassifier(criterion='entropy')
classify_entropy_sc.fit(x_train,y_train)
classify_entropy_sc.score(x_test,y_test)

0.7266666666666667